@model NetProjektNews.Models.Category

@{
    ViewData["Title"] = "Ta bort";
}

<h1>Ta bort</h1>

<h3>Är du säker på att du vill radera kategori: @Html.DisplayFor(model => model.CategoryName) ?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-primary mt-2 mb-2" asp-action="Index"><i class="bi bi-arrow-left"></i> Tillbaka</a>
        <button type="submit" class="btn btn-danger mt-2 mb-2"><i class="bi bi-trash"></i> Radera</button>
    </form>
    @if (TempData["ErrorMessage"] != null)
    // Visa felmeddelande vid försök att ta bort kategori med nyheter i
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }
    <p class="text-danger"><i class="bi bi-exclamation-triangle-fill"></i> OBS: För att kunna ta bort en kategori måste
        du först ha flyttat tillhörande nyheter till en annan kategori</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    <!-- Loopa igenom nyheter som finns i kategori -->
    <h4>Nyheter i denna kategori:</h4>
    @if (Model.Articles != null && Model.Articles.Any())
    {
        <ul>
            @foreach (var article in Model.Articles)
            {
                <li>@article.Title</li>
            }
        </ul>
    }
    else
    {
        <p>Denna kategori har inga nyheter</p>
    }

</div>
