@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@model IEnumerable<NetProjektNews.Models.Article>

@{
    ViewData["Title"] = "Nyheter";
}

<h1>Senaste nytt</h1>
@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Editor")))
{
<p>
    <a asp-action="Create"><i class="bi bi-plus-circle"></i> Skapa nytt inlägg</a>
</p>
}


@foreach (var item in Model)
{
    <section class="news-article">
        <h2>@item.Title</h2>
        
         @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Editor")))
    { // Visa bara om editor eller admin är inloggad 
        <p>
            <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Redigera</a> 
            <a asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-circle"></i> Detaljer</a> 
            <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Ta bort</a>
        </p>
        }

        
        <p><em>@item.CreatedAt.ToString("yyyy-MM-dd")</em></p>
        <p><strong>Kategori:</strong> @(item.Category?.CategoryName ?? "Inte valt")</p>
        
        @if (!string.IsNullOrEmpty(item.ImageName))
        {
            <a href="images/@item.ImageName">
                <img src="images/thumb_@item.ImageName" alt="Bild">
            </a>
        }

        <p class="contentText">@item.Content</p>
    </section>
}
